[Desktop Entry]
Name=Docsnap Image Capture
Comment=Capture images from a webcam
Exec=docsnap
Terminal=0
Type=Application
Icon=camorama.png
Categories=Video;Graphics;Viewer
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=camorama
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Component=User Interface
